@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    color:#593f77;
    margin:0;
    padding:0;
}

h1{
    font-size: 4rem;
    text-align: center;
    opacity: 90%;
    line-height: 0.5;
}

h2{
    font-size: 3rem;
    text-align: center;
    opacity: 80%;
    line-height: 2;
}

h3{
    font-size: 10rem;
    z-index: 2;
    line-height: 0;
    margin-left: 20px;
    margin-right: 20px;
}

h3:hover{
    cursor:pointer;
    color:#331b4e;
}



.background{
    background-image: url('/src/images/bg_christmas.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.cardBackground {
    position: absolute;
    width:50vw;
    height:85vh;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(35deg, rgba(255, 255, 255, 0.034), rgba(245, 245, 245, 0.55) 30%, rgba(245, 245, 245, 0.55) 70%, rgba(255, 255, 255, 0.034));
    border-radius: 5%;
    z-index: 0;
}

.cardSlider{
    margin:auto;
    width:50vw;
    height:55vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardImage {
    max-width: 80%;
    max-height: 80%;
    box-sizing: content-box;
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, #260B3C, #a053df);
    border-image-slice: 1;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}


@keyframes fadeOut{
    0% {opacity: 100%;}
    100% {opacity: 0%;}
}

@keyframes fadeIn{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}